# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*/.vs
*/*/.vs
*/*/*/.vs
/CustomContainers/.vs
/VGP241_Assignment3_Vincent_Karlsson/.vs
/VGP241_W1/.vs
/VGP241_W1B_Exercises/.vs
/VGP241_Week1A_Exercises/.vs
*/*/x64

*/Debug
*/*/Debug
/CustomContainers/CustomContainers/x64/Debug
CustomContainers/.vs/CustomContainers/v17/Browse.VC.db
